<% if flights.length > 0 %>

    <h4><%= pluralize(flights.length, 'flight') %> matched your search!</h4>
    <div class="container mt-4" style="display:flex; justify-content:center; align-items:center">
        <table class="table table-bordered table-light table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Flight Number</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration (minutes)</th>
                <th>Reservation</th>
            </tr>
            </thead>

            <tbody>
                <% flights.each do |flight| %>
                    <tr>
                        <td>#<%= flight.id %></td>
                        <td><%= flight.departure.name %></td>
                        <td><%= flight.arrival.name %></td>
                        <td><%= flight.date.strftime("%d-%m-%Y")  %></td>
                        <td><%= flight.time %></td>
                        <td><%= flight.duration %></td>
                        <td><%= button_to 'Book this flight',
                                new_booking_path,
                                method: :get,
                                params: { flight_id: flight.id, passengers: params[:flight][:passengers] },
                                id: 'booking-button',
                                class: 'btn btn-outline-dark' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>