<table class="table table-bordered table-light">
  <thead class="thead-dark">
    <tr>
      <th>Flight #</th>
      <th>Departs</th>
      <th>Arrives</th>
      <th>Date</th>
      <th>Departure</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
      <tr>
          <td>#<%= flight.id %></td>
          <td><%= flight.departure.name %></td>
          <td><%= flight.arrival.name %></td>
          <td><%= flight.date.strftime("%d-%m-%Y") %></td>
          <td><%= flight.time %></td>
          <td><%= flight.duration %></td>
      </tr>
  </tbody>
</table>